@model IEnumerable<project.Models.usertable>

@{
    ViewBag.Title = "EIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}


<br />
<div class="container">
    <div class="col-lg-5" style="border:solid">
        <h4 style="text-align:justify"> Personal Details </h4><img src="~/img/Person.png" style="background-color:#cccccc" class="col-lg-offset-10">



        <br />
        <h8 style="text-align:justify">To edit your personal details such as First Name, Second Name, Date of Birth, Address or Telephone number click the button below</h8>
        <p style="text-align:right"><a class="btn btn-primary btn-lg round" onclick=@Html.ActionLink("Edit", "EEdit", new { id = Session.SessionID })</a></p>


    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-5" style="border:solid">
        <h4 style="text-align:justify"> Security Details </h4><img src="~/img/lock.png" style="background-color:#cccccc" class="col-lg-offset-10">



        <br />
        <h8 style="text-align:justify">To edit your security details such as Username and Password click the button below</h8>
        <p style="text-align:right"><a class="btn btn-primary btn-lg round" onclick=@Html.ActionLink("Edit", "EEdit", new { id = Session.SessionID })</a></p>

    </div>

    <br />
</div>


