@{
    ViewBag.Title = "About";
}

<div class="row">
    <center>
        <br />
        <div class="col-md-2">
            <img src="~/img/logooo.jpg" style="background-color:#cccccc"><br />
        </div>

        <div class="col-md-10">
            <h3 style="text-align:center" class="text-success">  About us  </h3><br />
            <h5 style="text-align:center" class="text-success">  Flock Control puts farm managment in the palm of your hand <br /> </h5><br />
        </div>
    </center>
</div>

<div class="row">
    <center>
        <div class="col-md-4">
            <br />
            <img src="~/img/phone.jpg" style="background-color:#cccccc">
            <h4 style="text-align:center" class="text-success">Manage your flock  </h4>
            <p style="text-align:center">
                By using flock control you can record events and lamb births, manage and register animal movements with a simple tap
            </p>
        </div>

        <div class="col-md-4">
            <br />
            <img src="~/img/outside.jpg" style="background-color:#cccccc"><br />
            <h4 style="text-align:center" class="text-success">Anywhere, Anytime  </h4>
            <p style="text-align:center">
                Access all your stock, medical and movement records at anytime and anywhere, from the shed, on the fields, in the mart or at home.
            </p>
        </div>

        <div class="col-md-4">
            <br />
            <img src="~/img/time.jpg" style="background-color:#cccccc"><br />
            <h4 style="text-align:center" class="text-success">Save time on paperwork  </h4>
            <p style="text-align:center">
                Keep records up to date by recording in real time, run reports to check stock, medical and movement records
            </p>
        </div>
    </center>
</div>

