@{
    ViewBag.Title = "Contact";
}


<div class="row">
    <center>
        <br />
        <div class="col-md-2">
            <img src="~/img/logooo.jpg" style="background-color:#cccccc">
        </div>

        <div class="col-md-10">
            <h3 style="text-align:center" class="text-success">  Contact us  </h3><br />
            <h5 style="text-align:center" class="text-success">  For enquiries on new software, or a support issue contact us using the email addresses below; alternativly you can contact us via telephone  </h5>
        </div>
    </center>
</div>



<address>
    <br /><br />
    <strong>Address:</strong><br />
    Carnargan Road<br />
    Newtownstewart<br />
    <abbr title="Phone">P:</abbr>
    028 81643275
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@flockcontrol.com">Support@flockcontrol.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@flockcontrol.com">Marketing@flockcontrol.com</a>
</address>